<!-- sidebar.html -->
<aside class="sidebar">
  <h2>Menu</h2>
  <nav>
    <ul>
      <li><a href="inicio.html">Início</a></li>
      <li><a href="criar-pedido.html">Criar Pedidos</a></li>
      <li><a href="pedidos.html">Pedidos</a></li>
      <li><a href="lista-produtos.html">Lista de produtos</a></li>
      <li><a href="cadastro-cliente.html">Cliente</a></li>
      <li><a href="cadastro-transportadora.html">Transportadora</a></li>
      <li><a href="cadastro-user.html">Meu Cadastro</a></li>
      <li><a href="configuracoes.html">Configurações</a></li>
    </ul>
  </nav>
</aside>
