<!-- sidebar.html -->
<aside class="sidebar">
  <h2>Menu</h2>
  <nav>
    <ul>
      <li><a href="/pages/paginaInicial/inicio.html">Início</a></li>
      <li><a href="/pages/criarPedidos/criar-pedido.html">Criar Pedidos</a></li>
      <li><a href="/pages/pedidos/pedidos.html">Pedidos</a></li>
      <li><a href="/pages/listaProdutos/lista-produtos.html">Lista de produtos</a></li>
      <li><a href="/pages/cadastroCliente/cadastro-cliente.html">Cliente</a></li>
      <li><a href="/pages/cadastroTransp/cadastro-transportadora.html">Transportadora</a></li>
      <li><a href="/pages/cadastroUser/cadastro-user.html">Meu Cadastro</a></li>
      <li><a href="/pages/configuracoes/configuracoes.html">Configurações</a></li>
    </ul>
  </nav>
</aside>
